<app-navbar></app-navbar>



<section
  class="bg-light min-vh-100 py-5">

  <div class="container">

    <div class="text-center mb-5">

      <h1 class="fw-bold display-5">

        Explore Events 

      </h1>

      <p class="text-muted">

        Join impactful events,
        workshops and opportunities.

      </p>

    </div>




    <div class="row g-4">

      <div
        class="col-md-6 col-lg-4"
        *ngFor="let event of events">




        <div
          class="card border-0 shadow-lg h-100 rounded-4">

          <div class="card-body p-4">

            <span
              class="badge bg-info mb-3">

              {{ event.category }}

            </span>




            <h3 class="fw-bold">

              {{ event.title }}

            </h3>




            <p class="text-muted">

              {{ event.description }}

            </p>




            <div class="mb-2">

             {{ event.location }}

            </div>




            <div class="mb-2">

              {{ event.date | date }}

            </div>




            <div class="mb-2">

              Capacity:
              {{ event.capacity }}

            </div>




            <div class="mb-3">

              Volunteers Needed:
              {{ event.volunteersNeeded }}

            </div>




            <button
              class="btn btn-dark w-100">

              Register Now

            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
