<div
  class="bg-dark text-light vh-100 p-3 shadow-lg"
  style="width: 260px; position: fixed;">

  <h2 class="text-info fw-bold mb-4">

    ImpactBridge

  </h2>




  <ul class="nav flex-column">

    <li class="nav-item mb-2">

      <a
        routerLink="/student-dashboard"
        class="nav-link text-light">

        Dashboard

      </a>

    </li>




    <li class="nav-item mb-2">

      <a
        routerLink="/events"
        class="nav-link text-light">

        Events

      </a>

    </li>




    <li class="nav-item mb-2">

      <a
        routerLink="/volunteer-dashboard"
        class="nav-link text-light">

        Volunteers

      </a>

    </li>




    <li class="nav-item mb-2">

      <a
        routerLink="/admin-dashboard"
        class="nav-link text-light">

         Analytics

      </a>

    </li>




    <li class="nav-item mb-2">

      <a
        routerLink="/login"
        class="nav-link text-danger">

         Logout

      </a>

    </li>

  </ul>

</div>
