<app-navbar></app-navbar>



<section
  class="bg-dark text-light min-vh-100 d-flex align-items-center">

  <div class="container">

    <div class="row align-items-center">

      <div class="col-lg-6">

        <h1 class="display-3 fw-bold mb-4">

          Smart Volunteer &
          Event Coordination Platform

        </h1>



        <p class="lead text-secondary mb-4">

          Connecting students,
          volunteers and organizers
          through intelligent event management.

        </p>



        <div class="d-flex gap-3">

          <a
            routerLink="/register"
            class="btn btn-info btn-lg px-4">

            Get Started

          </a>



          <a
            routerLink="/events"
            class="btn btn-outline-light btn-lg px-4">

            Explore Events

          </a>

        </div>

      </div>




      <div class="col-lg-6 text-center mt-5 mt-lg-0">

        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          class="img-fluid"
          width="400">

      </div>

    </div>

  </div>

</section>